@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-purple:#A855F7;
  --primary-blue:#3B82F6;
  --secondary-light-blue:#22D3EE;
  --secondary-purple:#C084FC
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A2E37;
    --foreground: #F4F4F5;
    --primary-purple:#A855F7;
    --primary-blue:#3B82F6;
    --secondary-light-blue:#22D3EE;
    --secondary-purple:#C084FC;
    --secondary-background:#343841;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cascadia Code, Helvetica, sans-serif;
}

.swiper-pagination{
  position: relative !important;
  margin-top: 1rem;
}
.swiper-pagination-bullet{
  background: var(--primary-blue) !important;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}

.technologies-carousel {
  width: 100%;
  max-width: 900px; /* Default max width */
  margin: 0 auto; /* Centering */
}

@media (max-width: 1024px) {
  .technologies-carousel {
    max-width: 600px; /* Smaller on tablets */
  }
}

@media (max-width: 768px) {
  .technologies-carousel {
    max-width: 400px; /* Even smaller on mobile */
  }
}

@media (max-width: 480px) {
  .technologies-carousel {
    max-width: 300px; /* Very small screens */
  }
}

