@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-purple:#A855F7;
  --primary-blue:#3B82F6;
  --secondary-light-blue:#22D3EE;
  --secondary-purple:#C084FC
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A2E37;
    --foreground: #F4F4F5;
    --primary-purple:#A855F7;
    --primary-blue:#3B82F6;
    --secondary-light-blue:#22D3EE;
    --secondary-purple:#C084FC;
    --secondary-background:#343841;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cascadia Code, Helvetica, sans-serif;
}

.github-logo:hover{
  fill: red;
}
